
.servergrid {
    padding-left: 1vw;
    padding-right: 1vw;
    
  }
  
  .servergrid > div > ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-gap: 40px;
    /* margin-bottom: 20%; */
    list-style-type: none;
    padding-inline-start: 0px;
    /* -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); */
  }
  
  .servergrid > div > ul > li {
     border-top-left-radius:10px;
     border-top-right-radius:30px;
  }
  


  .servergrid > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
  }
  
  .servergrid > ul > li > figure > img {
    width: 100%;
  }
  
  .servergrid > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .servergrid > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 2.8vw;
  }
  
  .servergrid > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
  }
  
  .servergrid > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
  }
  
 
  p {
    font-size: 2.5vw;
  }

  *.loading {
    margin-left: 50%;
  }

  *.blockInline {
    display: inline-block;
  }

  .pagination {
    display: flex;
    padding: 20px;
    float: right;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: grey;
  }

  .pagination li :hover {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: white;
  }