@import url('https://fonts.googleapis.com/css?family=Blinker');

/* Generic styles */
html {
  
  font-family: 'Blinker', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #070b10 !important;
}

body {
  color: white;
  margin: 0 auto;
  font-family: 'Blinker', sans-serif;
  background-color: #070b10 !important;
}

/* Give room for sidebar */

.Grid-Content {
  margin-left: 250px;
}

.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
.container:before,.container:after{
    content:" ";
    display:table
}
.container:after{
    clear:both
}
@media (min-width: 768px) and (max-width: 991px){
    .container{
        width:98%;
    }
}
@media (min-width: 992px) and (max-width: 1099px){
    .container{
        width:98%;
    }
}
@media (min-width: 1100px){
    .container{
        width:98%;
    }
}
.containerNarrow{
    max-width:600px;
    margin:0 auto
}
mark{
    background:#FFE300;
    padding:1px;
    border-radius:4px;
    box-shadow:0 1px 0 rgba(0,0,0,0.1)
}
fieldset{
    padding:0;
    margin:0;
    border:0
}
fieldset>ul>li{
    margin-bottom:10px
}
legend{
    font-size:14px;
    font-weight:bold;
    margin-bottom:10px;
    color:#111
}
input[type="search"]{
    -webkit-appearance:none
}
.checkbox{
    display:block;
    padding-left:20px;
    margin-bottom:5px;
    cursor:pointer
}
.checkbox input[type=checkbox],.checkbox input[type=radio]{
    margin-left:-20px;
    margin-top:2px;
    float:left
}
.fade{
    opacity:0;
    -webkit-transition:opacity .15s linear;
    -o-transition:opacity .15s linear;
    transition:opacity .15s linear
}
.fade.in{
    opacity:1
}
.darkenBackground{
    background:rgba(0,0,0,0.35)
}
blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child{
    margin-bottom:0
}
@media (min-width: 768px){
    .affix{
        position:fixed
    }
}
.RequestErrorModal pre{
    white-space:pre-wrap;
    margin:0
}
#flarum-loading{
    text-align:center;
    padding:50px 0;
    font-size:18px;
    color:#aaa
}
.sideNav>ul{
    margin:0;
    padding:0;
    list-style:none
}
@media (min-width: 768px){
    .sideNav .Dropdown--select{
        display:block
    }
    .sideNav .Dropdown--select .Dropdown-toggle{
        display:none
    }
    .sideNav .Dropdown--select .Dropdown-menu{
        display:block;
        border:0;
        width:auto;
        margin:0;
        padding:0;
        min-width:0;
        float:none;
        position:static;
        background:none;
        -webkit-box-shadow:none;
        box-shadow:none
    }
    .sideNav .Dropdown--select .Dropdown-menu>li>a{
        padding:8px 0 8px 30px;
        color:#668299
    }
    .sideNav .Dropdown--select .Dropdown-menu>li>a:hover{
        background:none;
        color:#4174b0;
        text-decoration:none
    }
    .sideNav .Dropdown--select .Dropdown-menu>li>a .Button-icon{
        float:left;
        margin-left:-30px;
        font-size:15px
    }
    .sideNav .Dropdown--select .Dropdown-menu>li.active>a{
        background:none;
        color:#4d75a4;
        font-weight:bold
    }
    .sideNav .Dropdown--select .Dropdown-menu>.Dropdown-separator{
        background:none
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .sideNav{
        padding:15px 0;
        white-space:nowrap;
        overflow:auto;
        -webkit-overflow-scrolling:touch
    }
    .sideNav:after{
        content:" ";
        position:absolute;
        left:0;
        right:0;
        margin-top:15px;
        border-bottom:1px solid #e4eef6
    }
    .sideNav>ul>li,.sideNav .Dropdown-menu>li{
        display:inline-block;
        margin:0 20px 0 0;
        vertical-align:top
    }
    .sideNav .Dropdown-separator{
        display:none
    }
    .sideNav .Dropdown--select .Dropdown-menu>li>a{
        padding-left:25px
    }
    .sideNav .Dropdown--select .Dropdown-menu>li>a .icon{
        margin-left:-25px
    }
    .sideNav .affix{
        position:static
    }
}
@media (min-width: 992px){
    .sideNavContainer{
        display:flex
    }
    .sideNav{
        flex-shrink:0;
        margin-right:50px
    }
    .sideNav,.sideNav>ul{
        width:190px
    }
    .sideNav>ul{
        margin-top:30px
    }
    .sideNav>ul.affix{
        top:52px
    }
    .sideNav>ul>li{
        margin-bottom:10px
    }
}
.sideNav--horizontal{
    padding:15px 0;
    white-space:nowrap;
    overflow:auto;
    -webkit-overflow-scrolling:touch
}
.sideNav--horizontal:after{
    content:" ";
    position:absolute;
    left:0;
    right:0;
    margin-top:15px;
    border-bottom:1px solid #e4eef6
}
.sideNav--horizontal>ul>li,.sideNav--horizontal .Dropdown-menu>li{
    display:inline-block;
    margin:0 20px 0 0;
    vertical-align:top
}
.sideNav--horizontal .Dropdown-separator{
    display:none
}
.sideNav--horizontal .Dropdown--select .Dropdown-menu>li>a{
    padding-left:25px
}
.sideNav--horizontal .Dropdown--select .Dropdown-menu>li>a .icon{
    margin-left:-25px
}
.sideNav--horizontal .affix{
    position:static
}
@media (max-width: 767px),(min-width: 768px) and (max-width: 991px){
    .sideNavOffset{
        margin-top:15px
    }
}
@media (min-width: 992px){
    .sideNavOffset{
        margin-top:30px;
        flex:1;
        min-width:0
    }
}
.root{
    position:relative !important;
    padding-top:52px;
    padding-bottom:50px;
    overflow-x:hidden;
    min-height:100vh
}
@media (max-width: 767px){
    .root{
        padding-top:46px
    }
}
.root:before{
    content:" ";
    background: #344459d1;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    border-bottom:1px solid #e4eef6;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    -webkit-transition:box-shadow 0.2s, -webkit-transform 0.2s;
    -o-transition:box-shadow 0.2s, -webkit-transform 0.2s;
    transition:box-shadow 0.2s, -webkit-transform 0.2s;
    border-bottom:0;
    position:absolute
}
@media (max-width: 767px){
    .root:before{
        height:46px
    }
}
@media (min-width: 768px){
    .root:before{
        height:52px
    }
}
.affix.root:before{
    position:fixed
}
.scrolled.root:before{
    -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.35);
    box-shadow:0 2px 6px rgba(0,0,0,0.35)
}
@media (max-width: 767px){
    .root-primaryControl,.root-titleControl,.root-backControl{
        position:absolute !important;
        z-index:1001;
        top:0 !important;
        margin:0
    }
    .root.affix .root-primaryControl,.root.affix .root-titleControl,.root.affix .root-backControl,.Composer .root-primaryControl,.Composer .root-titleControl,.Composer .root-backControl{
        position:fixed !important
    }
    .root-primaryControl>.Button,.root-titleControl>.Button,.root-backControl>.Button{
        float:none;
        background:transparent !important;
        -webkit-box-shadow:none !important;
        box-shadow:none !important;
        height:46px;
        width:auto;
        padding:13px !important;
        margin:0 !important
    }
    .root-primaryControl>.Button:active,.root-titleControl>.Button:active,.root-backControl>.Button:active{
        opacity:0.5
    }
    .root-primaryControl>.Button--icon,.root-titleControl>.Button--icon,.root-backControl>.Button--icon{
        width:40px
    }
    .root-primaryControl{
        width:auto;
        right:0
    }
    .root-primaryControl.Dropdown .Button,.root-primaryControl.Dropdown .Button-caret{
        display:none !important
    }
    .root-primaryControl.Dropdown .Dropdown-toggle,.root-primaryControl.Dropdown .Button-icon{
        display:block !important
    }
    .root-primaryControl,.root-backControl{
        margin:0 !important
    }
    .root-primaryControl>.Button,.root-backControl>.Button{
        color:#668299 !important
    }
    .root-primaryControl>.Button .Button-icon,.root-backControl>.Button .Button-icon{
        display:block;
        font-size:20px;
        margin:0
    }
    .root-primaryControl>.Button .Button-label,.root-backControl>.Button .Button-label{
        display:none
    }
    .root-titleControl{
        width:200px;
        left:50%;
        margin-left:-100px;
        text-align:center;
        color:#4d75a4 !important
    }
    .root-titleControl,.root-titleControl>.Button{
        font-size:16px
    }
    .root-titleControl>.Button{
        color:#4d75a4;
        width:100%;
        overflow:hidden;
        text-overflow:ellipsis
    }
    .root-titleControl--text{
        line-height:46px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        font-weight:normal
    }
    .root-backControl{
        left:0
    }
    .root-backControl .Navigation-pin{
        display:none
    }
}
@media (max-width: 767px){
    .drawerOpen{
        overflow:hidden
    }
    .root-drawer{
        background:#fff;
        width:270px;
        position:fixed;
        left:0;
        top:0;
        bottom:0;
        -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.35);
        box-shadow:0 2px 6px rgba(0,0,0,0.35);
        -webkit-transform:translate3d(-276px, 0, 0);
        transform:translate3d(-276px, 0, 0);
        -webkit-transition:-webkit-transform .2s;
        -moz-transition:-moz-transform .2s;
        -o-transition:-o-transform .2s;
        transition:transform .2s;
        z-index:1050
    }
    .drawerOpen .root-drawer{
        -webkit-transform:none !important;
        transform:none !important
    }
    .drawer-backdrop{
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:1040;
        background-color:rgba(228,238,246,0.9);
        opacity:0;
        -webkit-transition:.2s opacity;
        -o-transition:.2s opacity;
        transition:.2s opacity
    }
    .drawer-backdrop.in{
        opacity:0.9
    }
}
.Header-controls{
    margin:0;
    padding:0;
    list-style:none
}
.Header-logo{
    max-height:40px;
    vertical-align:middle
}
@media (max-width: 767px){
    .root-header .container{
        padding:0
    }
    .Header-navigation{
        display:none
    }
    .Header-title{
        padding:13px 10px;
        font-size:16px;
        font-weight:normal;
        margin:0;
        text-align:center
    }
    .Header-controls{
        margin-top:10px
    }
    .Header-controls>li{
        padding:0 10px 0
    }
    .Header-controls .FormControl,.Header-controls .ButtonGroup,.Header-controls .Button{
        width:100%;
        text-align:left
    }
    .Header-controls .Dropdown-menu .ButtonGroup,.Header-controls .Dropdown-menu .Button{
        width:auto
    }
    .Header-secondary .Search{
        margin:10px 0
    }
}
@media (min-width: 768px){
    .root-navigation{
        display:none
    }
    .root-header{
        padding:8px;
        height:52px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        z-index:1000
    }
    .affix .root-header{
        position:fixed
    }
    .Header-navigation{
        float:left;
        margin-right:25px
    }
    .Header-controls,.Header-controls>li{
        display:inline-block;
        vertical-align:middle
    }
    .Header-primary{
        float:left
    }
    .Header-title{
        float:left;
        vertical-align:top;
        font-size:18px;
        font-weight:normal;
        margin:0 15px 0 0;
        line-height:34px
    }
    .Header-secondary{
        float:right
    }
    .Header-secondary .Search{
        margin-right:10px
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .Header-secondary .Search input:not(:focus){
        width:1px;
        background:transparent
    }
    .Header-secondary .Search:not(.active) input{
        padding-right:0
    }
}
.root-content{
    border-top:1px solid #e4eef6
}
@media (max-width: 767px){
    .root-content{
        background:#fff;
        width:100%;
        min-height:100vh;
        padding-bottom:50px
    }
}

.Search{
    position:relative
}
@media (min-width: 768px){
    .Search{
        -webkit-transition:margin-left .4s;
        -o-transition:margin-left .4s;
        transition:margin-left .4s
    }
    .Search.focused{
        margin-left:-400px
    }
    .Search.focused input,.Search.focused .Search-results{
        width:400px
    }
}
.Search-results{
    max-height:70vh;
    overflow:auto;
    left:auto;
    right:0
}
@media (max-width: 767px){
    .Search-results{
        left:0
    }
}
.Search-results>li>a{
    white-space:normal
}
.Search-results mark{
    background:none;
    padding:0;
    font-weight:bold;
    color:inherit;
    box-shadow:none
}
.Search-input{
    /*overflow:hidden;*/
    color:#668299
}
.Search-input:before{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1;
    font-family:'Font Awesome 5 Free';
    font-weight:900;
    content:"\f002";
    float:left;
    margin-right:-36px;
    width:36px;
    font-size:14px;
    text-align:center;
    position:relative;
    padding:8px 0;
    line-height:1.5;
    pointer-events:none
}
.Search-input:before.fa-pull-left{
    margin-right:.3em
}
.Search-input:before.fa-pull-right{
    margin-left:.3em
}
.Search-input input{
    float:left;
    width:225px;
    padding-left:32px;
    padding-right:32px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    transition:all .4s;
    box-sizing:inherit !important
}
.Search-input .Button{
    float:left;
    margin-left:-36px;
    width:36px !important;
    outline:none
}

*, *:before, *:after {
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.FormControl {
    display: block;
    width: 100%;
    height: 36px;
    padding: 8px 13px;
    font-size: 13px;
    line-height: 1.5;
    color: white;
    background-color: #070b1099;
    border: 2px solid transparent;
    border-radius: 4px;
    -webkit-transition: border-color .15s, background .15s;
    -o-transition: border-color .15s, background .15s;
    transition: border-color .15s, background .15s;
    -webkit-appearance: none;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

textarea:focus, input:focus{
    outline: none;
    box-shadow: 0 0 0 2pt #4174b0;
}

.Dropdown{
    position:relative
}
.Dropdown-menu{
    
    top:100%;
    left:0;
    z-index:1030;
    display:none;
    min-width:160px;
    padding:8px 0;
    margin:7px 0;
    background:#7c7f88;
    border-radius:4px;
    -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.35);
    box-shadow:0 2px 6px rgba(0,0,0,0.35);
    list-style:none;
    text-align:left;
    color:#111;
    font-size:13px;
    line-height:1.5
}
.open .Dropdown-menu{
    display:block
}
.Dropdown-menu>li>a,.Dropdown-menu>li>button,.Dropdown-menu>li>span{
    padding:8px 15px;
    display:block;
    width:100%;
    color:#111;
    border-radius:0;
    border:0;
    background:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-align:left;
    font-size:13px;
    font-weight:normal;
    text-decoration:none
}
.Dropdown-menu>li>a.hasIcon,.Dropdown-menu>li>button.hasIcon,.Dropdown-menu>li>span.hasIcon{
    padding-left:40px
}
.Dropdown-menu>li>a .Button-icon,.Dropdown-menu>li>button .Button-icon,.Dropdown-menu>li>span .Button-icon{
    float:left;
    margin-left:-25px;
    margin-top:2px;
    width:16px;
    text-align:center
}
.Dropdown-menu>li>a.disabled,.Dropdown-menu>li>button.disabled,.Dropdown-menu>li>span.disabled{
    opacity:0.4;
    background:none !important
}
.Dropdown-menu>li>a:hover,.Dropdown-menu>li>button:hover{
    background:#e4eef6
}
.Dropdown-menu>li>a:focus,.Dropdown-menu>li>button:focus{
    outline:none
}
.Dropdown-menu>li.active>a,.Dropdown-menu>li.active>button{
    background:#e4eef6
}
.Dropdown-menu--top{
    top:auto;
    bottom:100%
}
.Dropdown-menu--right{
    left:auto;
    right:0
}
.Dropdown-header{
    padding:10px 15px;
    color:#111;
    text-transform:uppercase;
    font-size:12px;
    font-weight:bold;
    margin-top:8px;
    border-top:1px solid #e4eef6;
    white-space:nowrap
}
.Dropdown-header:first-child{
    margin-top:-8px;
    border-top:0
}
.Dropdown-separator{
    margin:8px 0;
    background-color:#e4eef6;
    height:1px
}
.dropdown-backdrop{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index:1020
}
.Dropdown--split .Dropdown-toggle .Button-icon{
    display:none
}
.Dropdown--split .Dropdown-toggle .Button-caret{
    display:inline;
    margin:0
}
.Dropdown--split.itemCount1 .Button{
    border-radius:4px !important
}
.Dropdown--split.itemCount1 .Dropdown-toggle{
    display:none
}
@media (min-width: 768px){
    .Dropdown--split .Dropdown-menu li:first-child,.Dropdown--split .Dropdown-menu li:first-child+li.Dropdown-separator{
        display:none
    }
}
@media (max-width: 767px){
    .Dropdown.open{
        z-index:1050
    }
    .Dropdown .Dropdown-menu{
        margin:0;
        position:fixed;
        left:0 !important;
        right:0 !important;
        width:auto !important;
        bottom:0;
        top:auto;
        padding:0;
        padding-bottom:40px !important;
        display:block;
        max-height:70vh;
        border-radius:0;
        -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.35);
        box-shadow:0 2px 6px rgba(0,0,0,0.35);
        visibility:hidden;
        overflow:auto;
        -webkit-overflow-scrolling:touch;
        -webkit-transform:translate3d(0, 70vh, 0);
        transform:translate3d(0, 70vh, 0);
        -webkit-transition:-webkit-transform 0.3s, visibility 0s 0.3s;
        -moz-transition:-moz-transform 0.3s, visibility 0s 0.3s;
        -o-transition:-o-transform 0.3s, visibility 0s 0.3s;
        transition:transform 0.3s, visibility 0s 0.3s
    }
    .Dropdown .Dropdown-menu>li>a,.Dropdown .Dropdown-menu>li>button{
        background:#fff;
        font-size:16px;
        padding:15px 20px
    }
    .Dropdown .Dropdown-menu>li>a.hasIcon,.Dropdown .Dropdown-menu>li>button.hasIcon{
        padding-left:50px
    }
    .Dropdown .Dropdown-menu>li>a .Button-icon,.Dropdown .Dropdown-menu>li>button .Button-icon{
        font-size:16px;
        margin-left:-30px
    }
    .Dropdown .Dropdown-menu>li>a:hover,.Dropdown .Dropdown-menu>li>button:hover{
        background:#e4eef6
    }
    .Dropdown .Dropdown-menu>.active>a,.Dropdown .Dropdown-menu>.active>button,.Dropdown .Dropdown-menu>.active>a:hover,.Dropdown .Dropdown-menu>.active>button:hover{
        background:#4d75a4 !important;
        color:#fff !important
    }
    .open.Dropdown .Dropdown-menu{
        -webkit-transform:none;
        transform:none;
        visibility:visible;
        transition-delay:0s
    }
    .Dropdown-separator{
        margin:0
    }
    .dropdown-backdrop{
        background:rgba(228,238,246,0.9);
        opacity:0;
        -webkit-transition:opacity 0.3s;
        -o-transition:opacity 0.3s;
        transition:opacity 0.3s;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0)
    }
    .open .dropdown-backdrop{
        opacity:1
    }
}

.Dropdown-menu>li>a .Button-icon, .Dropdown-menu>li>button .Button-icon, .Dropdown-menu>li>span .Button-icon {
    float: left;
    margin-left: -25px;
    margin-top: 2px;
    width: 16px;
    text-align: center;
}

.Button-icon {
    margin-right: 5px;
    margin-left: -5px;
}
.Button-icon, .Button-caret {
    font-size: 14px;
}
.Button-icon {
    margin-right: 7px;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.fa, .fas, .far, .fal, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.pagination-lg .page-link {
    /* padding: .75rem 1.5rem; */
    font-size: 1.25rem;
    /* line-height: 1.5; */
}


.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: grey;
}

.page-link {
    /* position: relative; */
    /* display: block; */
    /* padding: .5rem .75rem; */
    /* margin-left: -1px; */
    /* line-height: 1.25; */
    /* color: #007bff; */
    /* background-color: #fff; */
    border: 1px solid #070b102b;
}

a {
    /* color: #007bff; */
    /* text-decoration: none; */
    /* background-color: transparent; */
}