/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b2430;
    overflow-x: hidden;
    padding-top: 20px;
  }
  

  /* The navigation menu links */
  .sidenav a {
    position: relative;
    /* left: 80px; */
    /* margin: 0 auto; */
    /* width: 200px; */
    margin: 0 auto;
    /* left: auto; */
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }